* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
  overflow: hidden;
}

.test {
  width: 80vw;
  height: 80vh  ;
  margin: 10vh auto;
  background: lime;
  position: relative;

}

.tracker {
  width: 2vw;
  height: 2vw;
  background: red;
  position: absolute;
  bottom: 0;
  right: 0;

}


.hero {
  width: 2vw;
  height: 2vw;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
